torch==2.9.1
torchaudio==2.9.1
pytorch-lightning==2.6.1
transformers==4.57.3
accelerate==1.12.0
safetensors==0.7.0
huggingface_hub==1.8.0
peft==0.18.1
flash_attn==2.8.3
nemo-toolkit==2.6.2
qwen-asr==0.0.6
qwen-tts==0.1.1
librosa==0.11.0
soundfile==0.13.1
audiomentations==0.43.1
silero-vad==6.2.0
lhotse==1.32.2
datasets==4.5.0
sentencepiece==0.2.1
omegaconf==2.3.0
loguru==0.7.3
jiwer @ git+https://github.com/jitsi/jiwer.git@c827c6768a5dece4fe92740a0d7c2a93db6bdb35
whisper_normalizer==0.1.12
eng_to_ipa==0.0.2
einops==0.8.2
numpy==2.2.6
tqdm==4.67.3
PyYAML==6.0.3
dirtygit==0.1.0
